.single-movie-crew{
    margin-bottom: 5em;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.single-movie-crew button{
    display: flex;
    padding: .4em;
    margin-top: 3em;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    color: rgb(26, 26, 26);
    background-color: white;
    border:2px solid  rgb(26, 26, 26);
    transition: .3s;
}

.single-movie-crew button:hover{
    color:white;
    border:2px solid  rgb(26, 26, 26);
    background-color:  rgb(26, 26, 26);
    transition: .3s;    
}

.single-movie-crew.hide{
    display: none;
}

.movie-crew__toggle-btn{
    display: flex;
    padding: .6em;
    margin-bottom: 3em;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    color: rgb(26, 26, 26);
    background-color: white;
    border:2px solid  rgb(26, 26, 26);
    transition: .3s;
  }

.movie-crew__toggle-btn:hover{
    color:white;
    border:2px solid  rgb(26, 26, 26);
    background-color:  rgb(26, 26, 26);
    transition: .3s;    
}

.movie-crew__content{
    margin-top: 0em;
    width:90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.load-more{
    display: block;
}

.load-more.hide{
    display: none;
}