.similiar-movies__link-item{
    width: 230px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 2px 8px rgba(0,0,0,.3);
}

.similiar-movies__link-item:hover{
    transform:scale(1.05);
    transition: .3s
}

.similiar-movies__item-link + .similiar-movies__item-link{
    margin-left: 2.5em;
}

.similiar-movies__link-item img{
    width:100%;
    display: block;
}

@media all and (max-width:768px){
    .similiar-movies__item-link + .similiar-movies__item-link{
        margin-left: 0em;
        margin-top: 2em;
    }

    .similiar-movies__link-item{
        width: 300px;
        cursor: pointer;
        transition: .3s;
        box-shadow: 0 2px 8px rgba(0,0,0,.3);
    }
}