.go-up-btn{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    z-index: 1000;
    right:80px;
    bottom:80px;
    width:60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.7);
    border:none;
    border-radius: 2px;
    transition: .3s ease-out;

        @media all and(max-width:660px){
            right:25px;
            bottom:60px;
        }

    &:hover{
        background-color: rgba(215, 215, 215, 0.7);
    }

    &.active{
        opacity:1;
        visibility: visible;
    }

    .arrow{
        font-size: 30px;
        color:white;
    }
}