.single-movie-main-image {
  margin-bottom: 4em;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #1a1a1a;
}

.single-movie {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-movie__add-fav {
  padding: 2em;
  border-bottom: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

@media all and (max-width: 1300px) {
  .single-movie__add-fav {
    width: 80%;
  }
}

@media all and (max-width: 900px) {
  .single-movie__add-fav {
    width: 95%;
  }
}

.single-movie__add-fav h1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 27px;
}

@media all and (max-width: 600px) {
  .single-movie__add-fav h1 {
    font-size: 24px;
  }
}

.single-movie__add-fav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em .4em;
  width: 170px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 17px;
  color: #1a1a1a;
  background-color: white;
  border: 2px solid #1a1a1a;
  -webkit-transition: .3s;
  transition: .3s;
}

.single-movie__add-fav button svg {
  margin-left: .5em;
}

.single-movie__add-fav button:hover {
  color: white;
  border: 2px solid #1a1a1a;
  background-color: #1a1a1a;
  -webkit-transition: .3s;
  transition: .3s;
}

.single-movie__add-fav button a:hover {
  text-decoration: none;
  color: white;
}

.single-movie__loading {
  width: 100%;
  padding: 5em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-movie__full-description {
  width: 90%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0em;
  margin-top: 3em;
  margin-bottom: 10em;
}

.single-movie__full-description .img {
  width: 35%;
}

.single-movie__full-description .img img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.single-movie__full-description .desc {
  width: 65%;
  padding: 1em 0em;
  padding-left: 2em;
}

.single-movie__full-description .desc p {
  font-size: 20px;
  margin: .4em 0em;
}

.single-movie__full-description .desc .rating {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: .1em .7em .1em .4em;
  background-color: #1a1a1a;
}

.single-movie__full-description .desc .rating span {
  font-size: 20px;
  padding: .2em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-movie__full-description .desc .rating .rating-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.3em;
  height: 2.3em;
  margin-left: .3em;
}

.single-movie__full-description .genres-wrapper {
  margin-top: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-movie__full-description .genres-wrapper p {
  font-weight: bold;
}

.single-movie__full-description .genres-wrapper button {
  cursor: pointer;
  background-color: #1a1a1a;
  border: none;
  color: white;
  padding: .4em .7em;
  margin: 0em .3em;
  -webkit-transition: .25s;
  transition: .25s;
}

.single-movie__full-description .genres-wrapper button:hover {
  background-color: #3c3c3c;
}

.separator {
  width: 100%;
  padding: 3em 0em;
}

@media all and (max-width: 768px) {
  .single-movie__full-description {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em 0em;
    margin-top: 3em;
    margin-bottom: 10em;
  }
  .single-movie__full-description .img {
    width: 100%;
    padding-left: 2em;
  }
  .single-movie__full-description .img img {
    display: block;
    width: 65%;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  .single-movie__full-description .desc {
    width: 100%;
    padding-right: 1.5em;
    padding-top: 4em;
  }
  .single-movie__full-description .desc p {
    font-size: 20px;
    margin: .4em 0em;
  }
  .single-movie__add-fav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single-movie__add-fav button {
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .single-movie__add-fav h1 {
    margin-bottom: 2em;
    text-align: center;
  }
}

@media all and (max-width: 450px) {
  .single-movie__full-description {
    margin-bottom: 3.5em;
  }
  .single-movie__full-description .img img {
    display: block;
    width: 85%;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
}
/*# sourceMappingURL=SingleMovie.css.map */