.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5em;
    margin-bottom: 5em;
    
    &__buttons{
        max-width:1150px;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        padding: 0em 1.5em;
        margin-bottom: 3em;
        
        button{
            cursor: pointer;
            background-color: rgb(26,26,26);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
            color:white;
            overflow: hidden;
            font-size: 17px;
            margin:.4em .3em;
            border:none;
            border-radius: 12em;
            padding:.8em 1.9em;
            transition:.2s;

            &:hover{
                background-color: rgb(60,60,60);           
            }

            &.active{
                background-color: rgb(224, 64, 64);    
            }
        }
    }

     &__movies{
        max-width: 1450px;
        min-height: 1000px;
        min-width: fit-content;
        border-top: 3px lightgray solid;
        margin-top: 3em;
        padding: 2em 0em;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

      @media all and (max-width: 1332px) {
          grid-template-columns: repeat(3, auto);
              }
      
      @media all and (max-width: 1150px) {
          grid-template-columns: repeat(2, auto);
      }
      
      @media all and (max-width: 800px) {
          grid-template-columns: 1fr;
      }
    
     }

     &__loadmore-btn-wrapper{
         width:100%;
         display: flex;
         flex-direction: column;
         align-items: center;

         button{
            cursor: pointer;
            padding: .6em 1.2em;
            font-size: 17px;
            color: rgb(26, 26, 26);
            background-color: white;
            border:2px solid  rgb(26, 26, 26);
            transition: .3s;
      
            &:hover{
              color:white;
              border:2px solid  rgb(26, 26, 26);
              background-color:  rgb(26, 26, 26);
              transition: .3s;
            }
         }
     }

     &__loading-wrapper{
         margin-top:2em;
         margin-bottom: 4em;
     }
}