.categories {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

@media all and (max-width: 600px) {
  .categories {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.categories__buttons {
  max-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0em 1.5em;
  margin-bottom: 3em;
}

@media all and (max-width: 600px) {
  .categories__buttons {
    padding: 0em .5em;
    margin-bottom: 0em;
  }
}

.categories__buttons button {
  cursor: pointer;
  background-color: #1a1a1a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: white;
  overflow: hidden;
  font-size: 17px;
  margin: .4em .3em;
  border: none;
  border-radius: 12em;
  padding: .8em 1.9em;
  -webkit-transition: .2s;
  transition: .2s;
}

@media all and (max-width: 600px) {
  .categories__buttons button {
    font-size: 14px;
    margin: .3em .2em;
    padding: .7em 1.5em;
  }
}

.categories__buttons button:hover {
  background-color: #3c3c3c;
}

.categories__buttons button.active {
  background-color: #e04040;
}

.categories__movies {
  -webkit-animation: ItemsOpacity .4s;
          animation: ItemsOpacity .4s;
  max-width: 1450px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-top: 3px lightgray solid;
  margin-top: 3em;
  padding: 2em 0em;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media all and (max-width: 1332px) {
  .categories__movies {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media all and (max-width: 1150px) {
  .categories__movies {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media all and (max-width: 800px) {
  .categories__movies {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.categories__movies-failed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 5em;
}

.categories__movies-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 5em;
}

.categories__loadmore-btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__loadmore-btn-wrapper button {
  cursor: pointer;
  padding: .6em 1.2em;
  font-size: 17px;
  color: #1a1a1a;
  background-color: white;
  border: 2px solid #1a1a1a;
  -webkit-transition: .3s;
  transition: .3s;
}

.categories__loadmore-btn-wrapper button:hover {
  color: white;
  border: 2px solid #1a1a1a;
  background-color: #1a1a1a;
  -webkit-transition: .3s;
  transition: .3s;
}

.categories__loading-wrapper {
  margin-top: 2em;
  margin-bottom: 4em;
}
/*# sourceMappingURL=Categories.css.map */