@-webkit-keyframes CarouselItemOpacity {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes CarouselItemOpacity {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

.movies-carousel {
  margin-bottom: 6em;
  margin-top: 6em;
}

.movies-carousel .carousel {
  width: 100% !important;
  height: 100% !important;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movies-carousel .carousel .carousel__item-cnt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movies-carousel .carousel .carousel__item {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 700px;
  -webkit-animation: CarouselItemOpacity 2s;
          animation: CarouselItemOpacity 2s;
  -webkit-transition: .4s;
  transition: .4s;
}

@media all and (max-width: 1300px) {
  .movies-carousel .carousel .carousel__item {
    width: 80%;
    height: 600px;
  }
}

@media all and (max-width: 1100px) {
  .movies-carousel .carousel .carousel__item {
    width: 90%;
    height: 500px;
  }
}

@media all and (max-width: 860px) {
  .movies-carousel .carousel .carousel__item {
    width: 95%;
    height: 420px;
  }
}

@media all and (max-width: 650px) {
  .movies-carousel .carousel .carousel__item {
    width: 100%;
    height: 350px;
  }
}

@media all and (max-width: 550px) {
  .movies-carousel .carousel .carousel__item {
    width: 100%;
    height: 310px;
  }
}

@media all and (max-width: 450px) {
  .movies-carousel .carousel .carousel__item {
    width: 100%;
    height: 290px;
  }
}

@media all and (max-width: 330px) {
  .movies-carousel .carousel .carousel__item {
    width: 100%;
    height: 270px;
  }
}

.movies-carousel .carousel .carousel__item:hover {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: .7;
}

.movies-carousel .carousel .img-overlay {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 900px;
  min-height: 180px;
  max-height: 180px;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 600;
  display: flex;
  padding: 1.3em 2em;
  background-color: rgba(0, 0, 0, 0.8);
}

.movies-carousel .carousel .img-overlay h2 {
  color: gray;
  text-align: left;
  margin-bottom: .6em;
}

.movies-carousel .carousel .img-overlay p {
  color: white;
  text-align: left;
}

@media all and (max-width: 1300px) {
  .movies-carousel .carousel .img-overlay {
    width: 700px;
    bottom: -20px;
  }
  .movies-carousel .carousel .img-overlay h2 {
    font-size: 22px;
  }
  .movies-carousel .carousel .img-overlay p {
    font-size: 15px;
  }
}

@media all and (max-width: 1100px) {
  .movies-carousel .carousel .img-overlay {
    bottom: -40px;
  }
  .movies-carousel .carousel .img-overlay h2 {
    font-size: 20px;
  }
  .movies-carousel .carousel .img-overlay p {
    font-size: 13px;
  }
}

@media all and (max-width: 860px) {
  .movies-carousel .carousel .img-overlay {
    bottom: -20px;
    min-height: 150px;
    max-height: 150px;
    width: 550px;
  }
  .movies-carousel .carousel .img-overlay h2 {
    font-size: 20px;
  }
  .movies-carousel .carousel .img-overlay p {
    font-size: 13px;
  }
}

@media all and (max-width: 860px) and (max-width: 650px) {
  .movies-carousel .carousel .img-overlay {
    bottom: -30px;
    width: 490px;
    min-height: 130px;
    max-height: 130px;
  }
  .movies-carousel .carousel .img-overlay h2 {
    font-size: 18px;
  }
  .movies-carousel .carousel .img-overlay p {
    font-size: 11px;
  }
}

@media all and (max-width: 860px) and (max-width: 550px) {
  .movies-carousel .carousel .img-overlay {
    bottom: -30px;
    width: 410px;
    padding: .5em .7em;
    min-height: 110px;
    max-height: 110px;
  }
  .movies-carousel .carousel .img-overlay h2 {
    font-size: 16px;
  }
  .movies-carousel .carousel .img-overlay p {
    font-size: 11px;
  }
}

@media all and (max-width: 860px) and (max-width: 420px) {
  .movies-carousel .carousel .img-overlay {
    width: 320px;
    bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 50px;
    min-height: 50px;
  }
  .movies-carousel .carousel .img-overlay h2 {
    font-size: 14px;
  }
  .movies-carousel .carousel .img-overlay p {
    display: none;
  }
}

@media all and (max-width: 860px) and (max-width: 330px) {
  .movies-carousel .carousel .img-overlay {
    width: 260px;
    bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 50px;
    min-height: 50px;
  }
  .movies-carousel .carousel .img-overlay h2 {
    font-size: 16px;
  }
  .movies-carousel .carousel .img-overlay p {
    display: none;
  }
}

.movies-carousel .carousel__item-loading {
  background-color: #1a1a1a;
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6em;
  margin-top: 6em;
}

@media all and (max-width: 1300px) {
  .movies-carousel .carousel__item-loading {
    height: 600px;
  }
}

@media all and (max-width: 1100px) {
  .movies-carousel .carousel__item-loading {
    height: 500px;
  }
}

@media all and (max-width: 860px) {
  .movies-carousel .carousel__item-loading {
    height: 420px;
  }
}

@media all and (max-width: 650px) {
  .movies-carousel .carousel__item-loading {
    height: 350px;
  }
}

@media all and (max-width: 550px) {
  .movies-carousel .carousel__item-loading {
    height: 310px;
  }
}

@media all and (max-width: 450px) {
  .movies-carousel .carousel__item-loading {
    height: 290px;
  }
}

@media all and (max-width: 330px) {
  .movies-carousel .carousel__item-loading {
    height: 270px;
  }
}

.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover {
  background-color: transparent;
  padding-right: 1em;
  right: 0px;
}

@media all and (max-width: 600px) {
  .carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover {
    padding-right: .5em;
  }
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
  background-color: transparent;
  padding-left: 1em;
  left: 0px;
}

@media all and (max-width: 600px) {
  .carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
    padding-left: .5em;
  }
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 1;
}

.carousel .control-arrow:hover, .carousel.carousel-slider .control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel .control-next.control-arrow:before {
  content: '';
  border: solid white;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 11px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media all and (max-width: 600px) {
  .carousel .control-next.control-arrow:before {
    padding: 6px;
    border-width: 0 4px 4px 0;
  }
}

.carousel .control-prev.control-arrow:before {
  content: '';
  border: solid white;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 11px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media all and (max-width: 600px) {
  .carousel .control-prev.control-arrow:before {
    padding: 6px;
    border-width: 0 4px 4px 0;
  }
}
/*# sourceMappingURL=MoviesCarousel.css.map */