.movie-item{
    position:relative;
    cursor: pointer;
    min-width: 280px;
    max-width:300px;
    height: 380px;
    transition: .3s;
    margin:.8em;
    box-shadow: 0 2px 8px rgba(0,0,0,.3);

    @media all and (max-width: 1232px) {
        width: 360px;
    }
    
    @media all and  (max-width: 1115px) {
        width: 330px;
    }
    
    @media all and  (max-width: 1028px) {
        width: 300px;
    }
    
    @media all and  (max-width: 950px) {
        width: 400px;
    }
    
    @media all and  (max-width: 830px) {
        width: 330px;
    }
    
    @media all and  (max-width: 700px) {
        width: 290px;
    }
    
    @media all and  (max-width: 630px) {
        width: 450px;
    }
    
    @media all and  (max-width: 500px) {
        width: 350px;
    }
    
    @media all and  (max-width: 400px) {
        width: 300px;
    }
    
    @media all and  (max-width: 350px) {
        width: 280px;
    }

    &:hover{
      transform: scale(1.02);
      transition: .3s;
    }
    
    &__img{
        width: 100%;
        max-height: 380px;
    }

    &__overlay{
      position: absolute;
      display: flex;
      align-items: center;
      padding:.6em 1em;
      width:100%;
      min-height: 60px;
      bottom:0px;
      left:0px;
      background-color: rgba(0,0,0,.8);
      border-top-right-radius: 40px;
    
      h5{
        font-size: 15px;
        color:lightgray;
        flex-grow: 1;
        margin-right: 1em;
        word-break: break-word;
      }
    }
    
}


